---
import Aoide from "../layouts/Aoide.astro";
const title = "Angular Tiny Conf 2024";
---

<Aoide title={title}>
  <a href="index.html">
    <div class="logo text-center">
      <img src="assets/img/tinyco-red-round-big.png" alt="" />
    </div>
  </a>

  <div class="content">
    <div class="event-time">
      <div class="section">
        <div class="hero-main-title">
          Angular Tiny Conf - Shemu<br />
          <small> June 28th 2024</small>
        </div>
        <div class="hero-live-stream">
          <iframe
            class="video"
            src="https://www.youtube.com/embed/fs26vhD330U"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <nav class="menu">
      <!-- <a href="#" class="menu__item">sessions</a> -->
      <a href="/speakers" class="menu__item">speakers</a>
      <!-- <a href="#" class="menu__item"
        >community<div class="empty-space">-</div>&amp;<div class="empty-space">
          -
        </div>sponsors</a
      > -->
      <span>|</span>
      <a href="/schedule" class="menu__item">schedule</a>
      <!-- <a href="#" class="menu__item"
                >stay<div class="empty-space">-</div>informed</a
              > -->
    </nav>
  </div>

  <!-- Primary Page Layout
			================================================== -->
</Aoide>
