---
import { SessionSpeaker } from "../../interfaces";

const { profilePicture, fullName, tagLine, ...props } = Astro.props;
---

<div class="col-md-4 justify-content-center mb-4">
  <div class="speaker-image">
    <img class="mx-auto" src={profilePicture} alt={fullName} />
  </div>
  <div class="container mt-4 text-center">
    <h5>{fullName}</h5>
    <p
      class="text-truncate small"
      style="max-height: 180px; overflow-y:hidden; text-overflow: ellipsis;"
    >
      <em>{tagLine}</em>
    </p>
  </div>
</div>
