---
---

<div class="location-fixed">
  <p>Stark Mansion, Point Dume, Malibu, CA</p>
</div>

<div class="social-fixed">
  <a href="#">twitter</a>
  <a href="#">facebook</a>
  <a href="#">linkedin</a>
</div>
