---
---

<div class="location-fixed">
  <p>Cruise Terminal, 37 Shing Road, Hong Kong</p>
</div>

<div class="social-fixed">
  <a href="#">twitter</a>
  <a href="#">facebook</a>
  <a href="#">behance</a>
</div>
