---
---

<!-- <div class="location-fixed">
  <p>Stark Mansion, Point Dume, Malibu, CA</p>
</div> -->
<div class="social-fixed">
  <a href="https://twitter.com/angulartinyconf">twitter</a>
  <a
    href="https://www.linkedin.com/video/event/urn:li:ugcPost:7001496195105771520/"
    >linkedin</a
  >
</div>
