---
import AoideHeader from "../components/AoideHeader.astro";
import AoideSocial from "../components/AoideSocial.astro";
import AoideFooter from "../components/AoideFooter.astro";

export interface Props {
  title?: string;
  description?: string;
  children?: any;
}

const { title, description, children } = Astro.props;
---

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]--><!--[if gt IE 8]>
<!-->
<html class="no-js" lang="en">
  <!--<![endif]-->
  <head>
    <!-- Basic Page Needs
	================================================== -->
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="description" content="Angular Tiny Conf -Shemu - Apr 28th 2023" />
    <meta name="author" content="Angular Tiny Conf" />
    <meta
      name="keywords"
      content="ig design, website, design, html5, css3, jquery, creative, clean, animated, portfolio, blog, one-page, multi-page, corporate, business,"
    />
    <meta property="og:title" content="Angular Tiny Conf -Shemu - Apr 28th 2023" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:image:width" content="470" />
    <meta property="og:image:height" content="246" />
    <meta property="og:site_name" content="" />
    <meta
      property="og:description"
      content="Angular Tiny Conf -Shemu - Apr 28th 2023"
    />
    <meta name="twitter:card" content="" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:domain" content="https://angulartinyconf.com" />
    <meta name="twitter:title" content="" />
    <meta
      name="twitter:description"
      content="Angular Tiny Conf -Shemu - Apr 28th 2023"
    />
    <meta name="twitter:image" content="https://angulartinyconf.com" />

    <!-- Mobile Specific Metas
	================================================== -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="theme-color" content="#212121" />
    <meta name="msapplication-navbutton-color" content="#212121" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#212121" />

    <!-- Favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Web Fonts 
	================================================== -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Pinyon+Script"
      rel="stylesheet"
    />

    <!-- CSS
	================================================== -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/assets/css/jquery.webui-popover.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/jquery.fancybox.min.css" />

    <!-- Favicons
	================================================== -->
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="apple-touch-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="apple-touch-icon-114x114.png"
    />

    <script>
      document.documentElement.className = "js";
      var supportsCssVars = function () {
        var e,
          t = document.createElement("style");
        return (
          (t.innerHTML = "root: { --tmp-var: bold; }"),
          document.head.appendChild(t),
          (e = !!(
            window.CSS &&
            window.CSS.supports &&
            window.CSS.supports("font-weight", "var(--tmp-var)")
          )),
          t.parentNode.removeChild(t),
          e
        );
      };
      supportsCssVars() || alert("");
    </script>
  </head>
  <body class="aoide">
    <div class="loader">
      <div class="loader__figure"></div>
    </div>

    <main>
      <!-- Aoide Header -->
      <AoideHeader />

      <!-- content -->
      <slot />

      <!-- Aoide Social -->
      <AoideSocial />
    </main>

    <!-- Aoide Footer -->
    <AoideFooter />
  </body>
</html>
